<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shoes</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <article>
      <h1 id="title">Converse Chuck Taylor All Star Low Top</h1>
      <img
        src="../images/challenges.jpg"
        alt="shoesimage"
        height="250px"
        width="250px"
      />
      <p id="price">$65.00</p>
      <p id="free">Free Shipping</p>
      <p>
        Ready to dress up or down, these classic canvas Chucks are an everday
        wardrobe staple.
      </p>
      <a id="more" href="#">More information &rarr;</a>
      <h2 class="details-title">Product details</h2>
      <ul class="details-list">
        <li>Lightweight, durable canvas sneaker</li>
        <li>Lightly padded footbed for added comfort</li>
        <li>Iconic Chuck Taylor ankle patch</li>
      </ul>
      <button class="add-to-cart">Add to cart</button>
    </article>
  </body>
</html>
